<h1>
  {{title}}
</h1>

<p ui-perceptive="#ffffff" help primarycolor="gray">aaaa</p>
<p ui-perceptive="#7e849c" primarycolor="blue" secondarycolor="pink">bbbbb</p>
<p ui-perceptive="#cc3399">cccccc</p>
<div style="padding:10px" secondarycolor="purple" ui-perceptive="#3333cc" backcolor="true">
  <p ui-perceptive="#3333cc" primarycolor="red" secondarycolor="red">ddddd</p>
</div>

<input type="text">
<input type="text" ui-autofocus>

<p> {{title | uiunaccent}}</p>
<p> {{date | uistringdate}}</p>

<!--INPUT-->
<ui-input></ui-input>

<ui-profile-float></ui-profile-float>