<nav>
  <h1>
    Documentação Angular 4
  </h1>

<p ui-perceptive="#ffffff" primarycolor="gray">aaaa</p>
<p ui-perceptive="#7e849c" primarycolor="blue" secondarycolor="pink">bbbbb</p>
<p ui-perceptive="#cc3399">cccccc</p>
<div style="padding:10px" secondarycolor="purple" ui-perceptive="#3333cc" backcolor="true">
  <p ui-perceptive="#3333cc" primarycolor="red" secondarycolor="red">ddddd</p>
</div>
  <a routerLink="/">Home</a>
  <a routerLink="/profile">Profile</a>
  <a routerLink="/floatingcard">Floating Card</a>
</nav>

<router-outlet></router-outlet>
